# Data Types

In [2]:
position = 5 # Defines a variable of type int
totalScore = 37.65 # a variable of type float
name = "Germaine" # a variable of type string

print("The total score of", name, "is", totalScore, "putting her in", position, "place.")

The total score of Germaine is 37.65 putting her in 5 place.

# Operations

In [3]:
x = 10
y = 17

sum1 = x + y
print("The sum is:", sum1)

m = 5.2
n = 3.5

sum2 = m + n
print("The sum is:", sum2)

s = "5"
t = "8"

result = s + t
print("The result of concatenating strings is:", result)

The sum is: 27
The sum is: 8.7
The result of concatenating strings is: 58

# Operations on Input

In [4]:
a = input("Enter an integer:")
b = input("Enter another integer:")

print("The sum is:", a + b)

Enter an integer: 4
Enter another integer: 2

The sum is: 42

In [5]:
a = int(input("Enter an integer:"))
b = int(input("Enter another integer:"))

print("The sum is:", a + b)

Enter an integer: 4
Enter another integer: 2

The sum is: 6

# Operators in Python

In [ ]:
a = b = 5 # Cascaded assignment
c, d = 10, 20 # Tuple assignment

print("a =", a)
print("a =", a)