# For Loop

In [1]:
# Multiple print statements with help of variable a
a = 0
print(a)
a = 1
print(a)
a = 2
print(a)
a = 3
print(a)
a = 4
print(a)

0
1
2
3
4

In [2]:
for a in [0,1,2,3,4]: # Accessing each value 
  print(a)

0
1
2
3
4

In [4]:
for a in [0,1,2,3,4]: # Accessing each value
  e = a * 2 # Multiplying the value by 2
  print(e)

0
2
4
6
8

## Odd Numbers

In [3]:
for x in range (1, 10):
    if x % 2 != 0:
        print(x, end=" ")

1 3 5 7 9

## Arithmetic Sequence

Write a program that shows the first five terms of the arithmetic sequence:
0, 5, 10, 15, and 20.

In [8]:
for i in range(5):
    print(i * 5, end=" ")

0 5 10 15 20